{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Cadastro de Livro</title>
    <link rel="icon" href="{% static 'logo_bc.png' %}" type="image/x-icon">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom" style="background-color: #000002;">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#">
            <img src="{% static 'logo_bc.png' %}" width="40" height="40" class="d-inline-block align-text-top">
            <strong>BookControl</strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="pagina_inicial" >Página Inicial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="controle" >Controle Bibliotecário</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Alunos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="cadastro_aluno">Cadastro de Aluno</a></li>
                  <li><a class="dropdown-item" href="lista_aluno">Lista de Alunos</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Professores
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="cadastro_prof">Cadastro de Professores</a></li>
                  <li><a class="dropdown-item" href="lista_prof">Lista de Professores</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Livros
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="cadastro_livro">Cadastro de Livros</a></li>
                  <li><a class="dropdown-item" href="lista_livro">Lista de Livros</a></li>
                </ul>
              </li>
            </ul>
        </div>
      </nav>

      <main class="container mt-5">
        <div class="row m-3 border p-3 align-items-center" style="background-color: #000002;"> 
            <div class="col-md-6 offset-md-3">
                <form method="POST" class="formCadastro" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h1 class="mb-2 text-light" style="text-align:center">Cadastro de Livros</h1>
                    <p class="text-light mb-4" style="text-align:center">Preencha os campos abaixo para cadastrar o livro.</p>

                    <div class="row g-3 mb-3">
                        <div class="col-sm">
                            <label for="titulo" class="form-label text-light">Título do Livro:</label>
                            <input type="text" class="form-control" name="titulo" placeholder="Digite o título do livro" autofocus="true" required>
                        </div>
                        <div class="col-sm-2">
                            <label for="quantidade" class="form-label text-light">Quantidade:</label>
                            <input type="number" name="quantidade" class="form-control">
                        </div>
                      </div>

                    <div class="mb-4">
                      <label for="image" class="form-label text-light">Capa do Livro:</label>
                      <input type="file" class="form-control" name="image" accept="image/*">
                    </div>

                    <div class="mb-3">
                        <label for="autor" class="form-label text-light">Autor:</label>
                        <input type="text" class="form-control" name="autor" placeholder="Digite o autor do livro" autofocus="true" required>
                    </div>  

                    <div class="mb-3">
                        <label for="editora" class="form-label text-light">Editora:</label>
                        <input type="text" class="form-control" name="editora" placeholder="Digite a auditora do livro" required>
                    </div>

                    <div class="mb-3">
                        <label for="anoEdicao" class="form-label text-light">Ano Edição:</label>
                        <input type="number" class="form-control" name="anoEdicao">
                    </div>

                    <div class="mb-3">
                        <label for="sinopse" class="form-label text-light">Sinopse do livro:</label>
                        <textarea class="form-control" name="sinopse" rows="2" placeholder="Digite uma sinopse"></textarea>
                    </div>

                    <div class="mb-3">
                        <button type="submit" value="Cadastrar" class="btn btn-primary">Cadastrar</button>
                        <button type="reset" class="btn btn-secondary me-2">Limpar</button>
                    </div>
                </form>
            </div>
        </div>
        <footer class="footer mt-auto py-3">
          <div class="container text-center">
              <span class="text-muted">BookControl - Sistema de Controle Bibliotecário</span>
          </div>
        </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>