{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Professores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-custom" style="background-color: #000002;">
    <div class="container-fluid ">
        <a class="navbar-brand" href="#">
            <img src="{% static 'logo_bc.png' %}" width="40" height="40" class="d-inline-block align-text-top">
            <strong>BookControl</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="pagina_inicial">Página Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="controle">Controle Bibliotecário</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Alunos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="cadastro_aluno">Cadastro de Aluno</a></li>
                        <li><a class="dropdown-item" href="lista_aluno">Lista de Alunos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Professores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="cadastro_prof">Cadastro de Professores</a></li>
                        <li><a class="dropdown-item" href="lista_prof">Lista de Professores</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Livros
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="cadastro_livro">Cadastro de Livros</a></li>
                        <li><a class="dropdown-item" href="lista_livro">Lista de Livros</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h2>Lista de Professores</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome Completo</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Email</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Turno</th>
            </tr>
        </thead>
        <tbody>
            {% for prof in profs %}
            <tr>
                <th scope="row">{{ prof.nomeCompleto }}</th>
                <td>{{ prof.dataNascimento }}</td>
                <td>{{ prof.email }}</td>
                <td>{{ prof.disciplina }}</td>
                <td>{{ prof.turno }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <span class="text-muted">BookControl - Sistema de Controle Bibliotecário</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>